
/*======================================== config =================================*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$lightblue: #00c9cb;

p {
  margin: 0px;
}

a { 
  text-decoration: none;
  color: #000000;
  &:hover {
    color: $lightblue;
  }
  transition: .3s all !important;
}

a:hover,
a:focus {
  text-decoration: none;
}

input {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  &.open_menu {
    overflow: hidden;
  }
}
body {
  max-width: 100%;
  overflow-x: hidden;
  color: #031322;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Poppins';
  background: #fff;
  letter-spacing: -0.25px;
  @media (max-width: 767px) {
    font-size: 14px;
  }
}
.container {
  max-width: 1400px;
  padding: 0 50px;
  @media (max-width: 1023px) {
    padding: 0 40px;
  }
  @media (max-width: 767px) {
    padding: 0 24px;
  }
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  //transition: .3s all !important;
  outline: none !important;
}

/*======================================== end config =================================*/

.header-menu {
  padding: 20px 0 10px 0;
  background-color: rgb(15, 17, 30);
  border-bottom: 1px solid rgb(0, 0, 0);
  ul {
    list-style: none;
  }
  a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    &:hover {
      color: $lightblue;
    }
  }
  .menu-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.h-menu {
  ul {
    display: flex;
    align-items: center;
    li {
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.translate {
  margin-left: 50px;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      margin-right: 10px;
      padding-right: 10px;
      position: relative;
      &:after {
        content: "|";
        font-weight: 600;
        position: absolute;
        top: 0;
        right: -1px;
        color: #fff;
      }
      &:last-child {
        margin-right: 0;
        padding-right: 0;
        &:after {
          display: none;
        }
      }
    }
  }
  a {
    &.active {
      color: $lightblue;
    }
  }
}

footer {
  background: #0f111e;
  color: #fff;
  @media (max-width: 1023px) {
    font-size: 14px;
  }
  ul {
    list-style: none;
  }
}
.fter-top {
  padding: 25px 0;
  @media (max-width: 767px) {
    text-align: center;
  }
  .social {
    ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @media (max-width: 767px) {
        justify-content: center;
        margin-top: 25px;
      }
      li {
        margin-right: 32px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
.fter-bot {
  padding: 0 0 48px 0;
  @media (max-width: 767px) {
    padding: 0 0 25px 0;
  }
  .info-fter {
    ul {
      display: flex;
      @media (max-width: 767px) {
        justify-content: space-between;
        font-size: 11px;
        margin-bottom: 25px;
      }
      li {
        border-left: 4px solid #00f8fa;
        padding-left: 15px;
        margin-right: 140px;
        @media (max-width: 1023px) {
          margin-right: 32px;
        }
        @media (max-width: 767px) {
          margin-right: 0;
          border-left: 2px solid #00f8fa;
          padding-left: 10px;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
.copyright {
  text-align: right;
  font-size: 12px;
  @media (max-width: 767px) {
    font-size: 10px;
    text-align: center;
  }
  h4 {
    font-weight: normal;
    font-size: 16px;
    margin-top: 6px;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}