@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppin/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/poppin/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppin/Poppins-Bold.woff2") format("woff2"), url("../fonts/poppin/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppin/Poppins-Medium.woff2") format("woff2"), url("../fonts/poppin/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppin/Poppins-Regular.woff2") format("woff2"), url("../fonts/poppin/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppin/Poppins-Light.woff2") format("woff2"), url("../fonts/poppin/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/*======================================== config =================================*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #000000;
  transition: 0.3s all !important;
}
a:hover {
  color: #00c9cb;
}

a:hover,
a:focus {
  text-decoration: none;
}

input {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

html {
  scroll-behavior: smooth;
}
html.open_menu {
  overflow: hidden;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  color: #031322;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Poppins";
  background: #fff;
  letter-spacing: -0.25px;
}

.container {
  max-width: 1400px;
  padding: 0 50px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none !important;
}

/*======================================== end config =================================*/
.header-menu {
  padding: 20px 0 10px 0;
  background-color: rgb(15, 17, 30);
  border-bottom: 1px solid rgb(0, 0, 0);
}
.header-menu ul {
  list-style: none;
}
.header-menu a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
.header-menu a:hover {
  color: #00c9cb;
}
.header-menu .menu-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.h-menu ul {
  display: flex;
  align-items: center;
}
.h-menu ul li {
  margin-right: 50px;
}
.h-menu ul li:last-child {
  margin-right: 0;
}

.translate {
  margin-left: 50px;
}
.translate ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.translate ul li {
  margin-right: 10px;
  padding-right: 10px;
  position: relative;
}
.translate ul li:after {
  content: "|";
  font-weight: 600;
  position: absolute;
  top: 0;
  right: -1px;
  color: #fff;
}
.translate ul li:last-child {
  margin-right: 0;
  padding-right: 0;
}
.translate ul li:last-child:after {
  display: none;
}
.translate a.active {
  color: #00c9cb;
}

footer {
  background: #0f111e;
  color: #fff;
}
footer ul {
  list-style: none;
}

.fter-top {
  padding: 25px 0;
}
.fter-top .social ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.fter-top .social ul li {
  margin-right: 32px;
}
.fter-top .social ul li:last-child {
  margin-right: 0;
}

.fter-bot {
  padding: 0 0 48px 0;
}
.fter-bot .info-fter ul {
  display: flex;
}
.fter-bot .info-fter ul li {
  border-left: 4px solid #00f8fa;
  padding-left: 15px;
  margin-right: 140px;
}
.fter-bot .info-fter ul li:last-child {
  margin-right: 0;
}

.copyright {
  text-align: right;
  font-size: 12px;
}
.copyright h4 {
  font-weight: normal;
  font-size: 16px;
  margin-top: 6px;
}

.title {
  margin-bottom: 45px;
}
.title h2 {
  font-weight: bold;
  font-size: 48px;
}
.title h2 span {
  color: #00c9cb;
}
@media (max-width: 1250px) {
  .title h2 {
    font-size: 36px;
  }
}
.title .desc-title {
  font-size: 20px;
  font-weight: 500;
  max-width: 790px;
  margin: 15px auto 0 auto;
}
@media (max-width: 1250px) {
  .title .desc-title {
    font-size: 16px;
  }
}

.btn-main a {
  display: inline-flex;
  height: 45px;
  padding: 0 40px;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  background: #00c9cb;
  border: 1px solid #00c9cb;
  border-radius: 6px;
  color: #fff;
}
.btn-main a img {
  margin-right: 12px;
}
.btn-main a:hover {
  color: #00c9cb;
  background: #fff;
}

.box-banner {
  position: relative;
}
.box-banner .content-banner-home {
  background: url("../images/bn-banner.png") no-repeat center;
  background-size: cover;
  background-position: bottom;
  padding: 80px 0 10px 0;
  text-align: right;
}

.info-banner {
  position: relative;
  color: #fff;
  text-transform: uppercase;
}
.info-banner h1 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 20px;
  line-height: 1.1;
}
.info-banner .txt-banner {
  text-align: left;
  position: absolute;
  width: 27%;
  top: -20px;
}
.info-banner .avr-banner {
  width: 63%;
  margin-left: auto;
}

.box-recover {
  padding: 130px 0;
}

.list-recover .btn-main {
  margin-top: 70px;
}

.item-recover h3 {
  font-weight: bold;
  font-size: 24px;
  margin-top: 15px;
  color: #00c9cb;
}
@media (max-width: 1250px) {
  .item-recover h3 {
    font-size: 20px;
  }
}

.content-text-partner .row {
  margin: 0 -25px;
}
.content-text-partner .row > div {
  padding: 0 25px;
}

.txt-partner h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 15px;
}
@media (max-width: 1250px) {
  .txt-partner h2 {
    font-size: 36px;
  }
}

.caption-partner {
  padding: 60px 0;
  font-size: 48px;
  color: #d4d4d4;
  font-weight: bold;
  max-width: 680px;
  margin: 0 auto;
  line-height: 1.3;
}
@media (max-width: 1250px) {
  .caption-partner {
    font-size: 36px;
  }
}

.slide-part {
  margin: 0 -25px;
}
.slide-part .slick-list {
  display: flex;
}
.slide-part .item-slide {
  padding: 0 25px;
}
.slide-part .item-part {
  text-align: center;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.slide-part .item-part img {
  display: inline;
}

.box-content-partner {
  padding: 0 0 80px 0;
}

.box-member {
  padding: 60px 0;
  background: #f4f4f4;
}
.box-member .title {
  margin-bottom: 60px;
}

.slide-member {
  margin: 0 -10px;
}
.slide-member .item-slide {
  padding: 0 10px;
}

.item-member {
  text-align: center;
}
.item-member img {
  display: inline;
}
.item-member .avarta {
  margin-bottom: 30px;
}
.item-member .desc h6 {
  font-size: 16px;
  font-weight: bold;
}

.box-gesprek {
  padding: 140px 0;
}
.box-gesprek .title {
  margin-bottom: 25px;
}

.box-b2b {
  background: #00f8fa;
  padding: 50px 0;
}
.box-b2b .content-b2b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-b2b .content-b2b .txt-b2b {
  padding: 0 35px;
}
.box-b2b .content-b2b .txt-b2b h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.box-b2b .btn-main a {
  padding: 0 30px;
  background: #fff !important;
  border: 0 !important;
  color: #000000;
  padding-top: 4px;
}

.box-banner-bread {
  position: relative;
  padding: 120px 0 100px 0;
  background: url("../images/banner-bread.png") no-repeat center;
  background-size: cover;
  color: #fff;
}
.box-banner-bread h1 {
  font-weight: bold;
  font-size: 48px;
}
@media (max-width: 1250px) {
  .box-banner-bread h1 {
    font-size: 36px;
  }
}
.box-banner-bread h1 span {
  color: #00c9cb;
}
.box-banner-bread.bread-product {
  padding: 100px 0 0 0;
}

.cate-prd {
  padding: 30px 0 60px 0;
}
.cate-prd ul {
  list-style: none;
  display: flex;
  margin: 0 -12px;
  justify-content: center;
  text-transform: uppercase;
}
.cate-prd ul li {
  padding: 0 12px;
}
.cate-prd ul li a {
  display: inline-block;
  font-size: 33px;
  font-weight: bold;
  color: #fff;
  border-bottom: 3px solid transparent;
}
.cate-prd ul li a.active, .cate-prd ul li a:hover {
  color: #00fdff;
  border-bottom: 3px solid #00fdff;
}

.item-how {
  display: flex;
  margin-bottom: 90px;
}
.item-how .avarta {
  margin-right: 80px;
  flex: 0 0 470px;
  max-width: 470px;
}
.item-how .info h3 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 25px;
}
@media (max-width: 1250px) {
  .item-how .info h3 {
    font-size: 32px;
  }
}
.item-how .info .desc p {
  margin-bottom: 20px;
}
.item-how .info .desc p:last-child {
  margin-bottom: 0;
}

.item-memb-how {
  max-width: 925px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.item-memb-how .avr-mem {
  margin-right: 30px;
  flex: 0 0 190px;
}
.item-memb-how .caption-mem {
  color: #d4d4d4;
  font-size: 37px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 8px;
}
@media (max-width: 1250px) {
  .item-memb-how .caption-mem {
    font-size: 32px;
  }
}

.item-recover-room {
  padding: 100px 0;
}
.item-recover-room .container {
  padding: 0;
  max-width: 1090px;
}
.item-recover-room:nth-child(2n) {
  background: #f4f4f4;
}
.item-recover-room:nth-child(2n) .item-how .avarta {
  order: 2;
  margin: 0 0 0 80px;
}
.item-recover-room:nth-child(2n) .item-how .info {
  order: 1;
}

.bottom-howwork {
  padding: 100px 0 160px 0;
  text-align: center;
}
.bottom-howwork .desc-content {
  font-size: 32px;
  font-weight: bold;
  max-width: 925px;
  margin: 0 auto;
  line-height: 1.3;
}
.bottom-howwork .desc-content span {
  background: #00fdff;
}
.bottom-howwork .btn-bott {
  margin-top: 40px;
}
.bottom-howwork .btn-bott ul {
  list-style: none;
  display: flex;
  margin: 0 -20px;
  justify-content: center;
  align-items: center;
}
.bottom-howwork .btn-bott ul li {
  padding: 0 20px;
}

.box-sapo {
  padding: 85px 0 50px 0;
}

.desc-sapo-who {
  max-width: 1090px;
  margin: 0 auto;
}
.desc-sapo-who h3 {
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: bold;
}
.desc-sapo-who p {
  margin-bottom: 20px;
}
.desc-sapo-who p:last-child {
  margin-bottom: 0;
}

.box-step {
  background: #f4f4f4;
  padding: 70px 0;
}
.box-step .btn-main {
  padding-left: 65px;
}

.content-step {
  max-width: 780px;
  margin: 0 auto;
}

.list-step {
  padding-left: 65px;
  border-left: 3px solid #00c9cb;
  position: relative;
  margin-bottom: 35px;
}
.list-step:after {
  content: "";
  width: 48px;
  height: 23px;
  background: url(../images/arr-down.png) no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -3px;
  left: -26px;
}
.list-step .item-step {
  margin-bottom: 50px;
}
.list-step .item-step:last-child {
  margin-bottom: 0;
}
.list-step .item-step .title-step {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.3;
}
.list-step .item-step p {
  margin-bottom: 20px;
}
.list-step .item-step p:last-child {
  margin-bottom: 0;
}

.box-partner-who {
  padding: 100px 0 50px 0;
}

.list-part-who {
  max-width: 1000px;
  margin: 0 auto;
}
.list-part-who .item-part-who {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}
.list-part-who .item-part-who:last-child {
  margin-bottom: 0;
}
.list-part-who .item-part-who:nth-child(2n) .avarta {
  margin-right: 0;
  order: 2;
}
.list-part-who .item-part-who:nth-child(2n) .info {
  padding-right: 80px;
  order: 1;
}
.list-part-who .item-part-who .avarta {
  flex: 0 0 394px;
  margin-right: 80px;
}
.list-part-who .item-part-who h3 a {
  font-size: 48px;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
  color: #000000;
}
.list-part-who .item-part-who .link-part {
  margin-top: 10px;
}
.list-part-who .item-part-who .link-part a {
  color: #00c9cb;
}

.title-part-who {
  margin-bottom: 80px;
}
.title-part-who h2 {
  font-size: 40px;
  font-weight: bold;
}

.box-products {
  padding: 120px 0;
}
.box-products .list-product {
  max-width: 1200px;
}

.item-product {
  margin-bottom: 100px;
  display: flex;
}
.item-product:last-child {
  margin-bottom: 0;
}
.item-product .avarta {
  flex: 0 0 470px;
  margin-right: 30px;
}
.item-product .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-product .info ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.item-product .info ul li {
  margin-right: 30px;
}
.item-product .info ul li:last-child {
  margin-right: 0;
}
.item-product .info .brand {
  padding: 15px 0 20px 0;
}
.item-product .info h3 a {
  font-size: 48px;
  font-weight: bold;
  display: inline-block;
}
.item-product .info .desc {
  padding: 0 0 20px 0;
}

.box-slide-enkele {
  padding: 60px 0;
  background: #f4f4f4;
}
.box-slide-enkele .title-slide-ek {
  margin-bottom: 45px;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.4;
}

.item-enkele .icon {
  background-image: -moz-linear-gradient(-63deg, rgb(0, 255, 234) 0%, rgb(0, 204, 255) 100%);
  background-image: -webkit-linear-gradient(-63deg, rgb(0, 255, 234) 0%, rgb(0, 204, 255) 100%);
  background-image: -ms-linear-gradient(-63deg, rgb(0, 255, 234) 0%, rgb(0, 204, 255) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  padding: 12px;
  border-radius: 100%;
  text-align: center;
  margin: 0 auto;
}
.item-enkele .info {
  padding-top: 15px;
}
.item-enkele .info p {
  margin-bottom: 8px;
}

.box-partner-prd {
  padding: 150px 0;
}

.bread-contact {
  padding: 150px 0 230px 0;
}
.bread-contact h1 {
  font-size: 55px;
}
.bread-contact h1 span {
  display: block;
}

.box-form-contact {
  position: relative;
  margin-top: -7%;
}
.box-form-contact .content-form {
  box-shadow: 0px 8px 55.25px 9.75px rgba(0, 0, 0, 0.08);
  max-width: 1015px;
  width: 100%;
  background: #fff;
  padding: 30px 50px;
  border-radius: 8px;
  margin: 0 auto;
}

.list-frm .item-frm {
  margin-bottom: 40px;
}
.list-frm .item-frm:last-child {
  margin-bottom: 0;
}
.list-frm .item-frm label {
  font-size: 12px;
  color: #9a9a9a;
  text-transform: uppercase;
}
.list-frm .item-frm .txt_field {
  width: 100%;
  height: 35px;
  outline: none;
  border: 0;
  border-bottom: 2px solid #6c6c6c;
  font-size: 20px;
}
.list-frm .item-frm .txt_field:focus {
  border-bottom: 2px solid #00c9cb;
}
.list-frm .item-frm .txt_field::placeholder {
  color: #b9b9b9;
}
.list-frm .item-frm .btn_field {
  height: 46px;
  width: 210px;
  font-weight: bold;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  background: #00c9cb;
  border: 1px solid #00c9cb;
}
.list-frm .item-frm .btn_field:hover {
  color: #00c9cb;
  background: #fff;
}

.box-bookingtool {
  padding: 100px 0;
}

.title-contact {
  margin-bottom: 35px;
}
.title-contact h2 {
  font-size: 55px;
  font-weight: bold;
}
.title-contact span {
  color: #00c9cb;
}

.box-showroom {
  padding: 0 0 80px 0;
}

.content-showroom {
  margin: 0 auto;
  max-width: 1015px;
  width: 100%;
}

.list-showroom .row {
  margin: 0 -8px;
}
.list-showroom .row > div {
  padding: 0 8px;
}

.txt-showroom .desc {
  padding: 45px 0 35px 0;
}
.txt-showroom ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.txt-showroom ul li {
  padding: 0 8px;
}
.txt-showroom ul li a {
  width: 215px;
  padding: 0 15px;
  justify-content: center;
}

.box-tab-content {
  display: none;
}
.box-tab-content.active {
  display: block;
}

/*# sourceMappingURL=style.css.map */
